.mainView {
    height: 100vh;
    /*background: rgb(123,151,178);
    background: linear-gradient(225deg, rgba(123,151,178,1) 0%, rgba(242,242,242,1) 50%);  
    padding: 1rem;*/
}
/* 

.mainContainer{ 
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    padding: 1rem 1rem;
}
 */

.mainContainer{ 
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: top;
    background-color: #FFFFFF;
    padding: 1rem 1rem;
}

.menuPanel {
    width: 70%;    
    flex-direction: column;
    display: flex;
    gap: .5rem;
    padding: .5rem;
    background: rgb(228,228,228);
    background: linear-gradient(270deg, rgba(228,228,228,1) 0%, rgba(249,249,249,1) 100%);
}

.headerMenuPanel {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 0;
    margin: .25rem;
}

.menuButton {
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: #FFF;
    padding: 0;
}

.imgMenuButton {
    object-fit: contain;
}

.dateTimeContainer {
    display: flex;
    align-items: center;
    gap: .25rem;
    flex-direction: row;
}

.closeOrderContainer {
    display: flex;
    border-radius: 3rem;
    flex-direction: row;
    background-color: #FFF;
    justify-content: flex-start;
    align-items: center;
    padding-right: 1rem;
    margin-left: auto;
}

.onOffIcon {
    object-fit: contain;
    aspect-ratio: 1;
    margin: auto;
    padding: .5rem;
    width: 75%;
    height: 75%;
}


.closeOrderLabel {
    color: #FC4A4A;
    flex: 1;
    display: flex;
    font-size: 1rem;
    white-space: nowrap;
    align-self: center;
}

.btnMenuContainer {
    display: flex;
    gap: .5em;
    flex-direction: row;
    justify-content: flex-start;
    padding: .5rem;
    overflow-x: auto;
    white-space: nowrap;
    flex-shrink: 0;
}

.btnMenuPanel {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3rem;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 1.5rem;
    padding-right: 3rem;
}

.itemsMenuPanel {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    gap: 1rem;
    padding: 1rem;
    overflow-y: auto;
}

.btnMenuPanel {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3rem;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 1.5rem;
    padding-right: 3rem;
}

.iconbtn {
    object-fit: cover;
    width: 50%;
    height: auto;
 }

.btnLabel {
    display: flex;
    flex-direction: column;
}

.btnItem {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1rem;
    background-color: #FFFFFF;
    border-radius: 1.2rem;
}

.itemImage {
    background-color: #F7F7F7;
    border-radius: 1.2rem;
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin: auto;
}

.itemName {
    font-size: 1rem;
    color: #000000;
    text-align: left;
}

.typePriceContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.itemTag {
    background-color: #FFF5E4;
    font-size: 1rem;
    padding: .5rem;
    border-radius: 1rem;
    color: #D69172;
}

.itemPrice {
    color: #000000;
    text-align: right;
    font-weight: bolder;
    font-size: 1rem;
}

.orderPanel {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #FAFAFA;
    gap: .25rem;
}

.orderHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: .25rem;
}

.historyButton {
    background: none;
    border-radius: 50%;
    background-color: #F7F7F7;
    aspect-ratio: 1/1;
}

.historyIcon {
    object-fit: contain;
    height: 75%;
}

.customerInfo {
    text-align: center;
    margin: auto;
    color: #000000;
    font-size: 1rem;
}

.comboContainer {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    padding: .25rem;
    background-color: #FFFFFF;
    justify-content: space-between;
}

.comboBox {
    background-color: #F7F7F7 ;
    border-radius: 3rem;
    display: flex;
    flex-direction: row;
    padding-left: .25rem;
    padding-right: .25rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.comboLabel {
    font-size: 1rem;
    color: #8A8A8A;
    white-space: nowrap;
}

.comboButton {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: 50%;
}

.comboButton:hover {
    scale: 1.1;
}

.comboIcon {
    object-fit:scale-down;
    margin: auto;
    width: 50%;
    height: 50%;
}

.orderDetailsContainer {
    height: 100%;
    flex-direction: column;
    background-color: #FFFFFF;
}

.orderDetails {
    display: flex;
    height: 50%;
}

.noItemsSelected {
    width: 100%;
    color: #8A8A8A;
    font-size: 1rem;
    text-align: center;
    margin: auto;
    border-bottom: .15rem dashed #8A8A8A;
}

.subTotalContainer {
    display: flex;
    margin-top: auto;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: .25rem;
    gap: .5rem;
}

.subTotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.subTotalBordered {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: .5rem;
    border-bottom: .15rem dashed #8A8A8A;
}

.subTotal {
    font-size: 1rem;
    color: #767676;
}

.tax {
    font-size: .90rem;
    color: #8A8A8A;
}

.totalContainer {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: .25rem;
}

.total {
    font-size: 1rem;
    color: #000000;
}

.promoPayment {
    display: flex;
    flex-direction: row;
    padding: .25rem;
    gap: .25rem;
    background-color: #FFFFFF;
}

.paymentButton {
    background-color: #FFFFFF;
    border: .2rem solid #000000;
    border-radius: 3rem;
    font-size: 1rem;
    width: 75%;
}

.disccountIcon {
    object-fit:scale-down;
    margin: auto;
    width: 100%;
    height: 100%;
}

.placeOrder {
    padding: 1.5rem;  
    text-align: center;
    font-size: 1.2rem;
    background-color: #2D71F8;
    color: #FFFFFF;
}

.placeOrder:hover {
    scale: 1.02;
}

.trackOrderBtn {
    display: flex;
    bottom: 0;
    justify-content: space-between;
    left: 1rem;
    position: fixed;
    background-color: #2D71F8;
    padding: .5rem 1rem;
    border-radius: 1rem 1rem 0 0;
    flex-direction: row;
    align-items: center;
    gap: 1rem
}

.trackOrderBtn:hover {
    scale: 1.05;
}

.trackOrderLabel {
    color: #FFFFFF;
    font-size: 1rem;
    white-space: none;
}

.trackOrderAdd {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 25%;
    height: auto;
}

.addIcon {
    object-fit: contain;
}

.icon {
    object-fit: cover;
    width: 50%;
    height: auto;
 }

 .iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    background-color: #FDF5F4; 
    border-radius: 50%;
    aspect-ratio: 1/1;
 }