.alertMessage {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.15);
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  z-index: 1010;
}

.alertContent {
  flex: 1;
  margin-right: .2rem;
}

.alertMessage strong {
  display: block;
  font-size: 1.2rem;
  margin-bottom: .2rem;
}

.alertMessage p {
  margin: 0;
  font-size: 1rem;
}

.closeButton {
  background: none;
  margin-left: 1rem;
  align-items: center;
  border: none;
  color: white;
  font-size: 1.5rem;
}
.closeButton:hover {
  scale:1.2;
}

.error {
  background-color: #FC4A4A;
  color: #FFFFFF;

}

.success {
  background-color: #1C8370;
  color: #FFFFFF;
}

.warning {
  background-color: #FFD966;
  color: #000000;
}

.info {
  background-color: #2D71F8;
  color: #FFFFFF;
}

/* Animations */
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100%) translateY(0);
  }
  to {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%) translateY(0);
  }
}

.fadeIn {
  animation-name: fadeInRight;
}

.fadeOut {
  animation-name: fadeOutRight;
}
