.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.button:hover {
    scale: 1.02;
}

.icon {
    object-fit: contain;
    width: 50%;
 }
