.searchBarMenuPanel {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem;
    border-radius: 3rem;
    background-color: #FFFFFF;
    gap: 0.5rem;
    overflow: hidden;
}

.searchInput {
    flex: 1;
    font-size: 1rem;
    padding: 1rem 1rem;
    border: none;
    background: none;
    line-height: 1;
}
